<nav class="sidebar-content nav flex-column">
  <section class="sidebar-content__header">
    <img class="sidebar-content__header__icon" src="../../../assets/svg/EY_logo_2019.svg" alt="Logo Estudeme" />
    <span class="sidebar-content__header__title">TrackScore</span>
  </section>

  <section class="sidebar-content__section-division" [ngClass]="{ dashboard: routeReturn() === '/dashboard' }">
    <a href="/dashboard">
      <img class="sidebar-content__icon" src="../../../assets/svg/house-door.svg" alt="Ícone dashboard" />
      <label class="sidebar-content__description" for="">Dashboard</label>
    </a>
  </section>

  <section class="sidebar-content__section-division" [ngClass]="{ workers: routeReturn() === '/workers' || routeReturn() === '/worker' }">
    <a href="/workers">
      <img class="sidebar-content__icon" src="../../../assets/svg/people.svg" alt="Ícone workers" />
      <label class="sidebar-content__description" for="">Funcionários</label>
    </a>
  </section>

  <section class="sidebar-content__section-division" [ngClass]="{ increase: routeReturn() === '/increase' }">
    <a href="/increase">
      <img class="sidebar-content__icon" src="../../../assets/svg/coin.svg" alt="Ícone increase" />
      <label class="sidebar-content__description" for="">Aumentos</label>
    </a>
  </section>

  <section class="sidebar-content__section-division" [ngClass]="{ settings: routeReturn() === '/settings' }">
    <a href="/settings">
      <img class="sidebar-content__icon" src="../../../assets/svg/gear.svg" alt="Ícone settings" />
      <label class="sidebar-content__description" for="">Configurações</label>
    </a>
  </section>
</nav>