@import "../../../shared/scss/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .title {
    color: $gray-texts;
    font-size: 35px;
    font-family: "Ubuntu", sans-serif;
  }

  & ul {
    margin-right: 0 !important;
  }

  & .dropdown-toggle::after {
    color: #535653;
  }

  & .dropdown-menu {
    width: 75px;
    min-width: 30px;

    & .dropdown-item {
      font-family: "Ubuntu", sans-serif;
    }
  }

  &__icon {
    width: 35px;
  }
}

.subtitle {
  color: $orange-track-score;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
}
