@import "../../shared/scss/reset.scss";
@import "../../shared/scss/variables.scss";

.main-content {
  @media screen and (max-width: 400px) {
    width: calc(100% - 79px);
  }
  float: right;
  width: calc(100% - 200px);
  height: 100%;
  position: relative;

  .row {
    height: 100%;
    width: 100%;

    .col-md-12 {
      background-color: $gray-background;
      width: 100%;
      height: 100%;
      padding: 28px;
    }
  }

  .container {
    height: calc(100% - 64px);
    background: #ffffff;
    border-radius: 10px;
    padding: 35px;
  }
}

.with-subtitle {
  .container {
    height: calc(100% - 90px);
  }
}
