@import "../../shared/scss/main-content.scss";

.scroll-table {
  height: 427px;
  overflow-y: auto;
}

.workers {
  &__profile-image {
    width: 76px;
    border-radius: 38px;
  }

  & a:hover {
    text-decoration: none;
    cursor: pointer;
  }

  & td {
    padding: 28px 0;
  }

  &__profile-name {
    vertical-align: middle;
    font-weight: bold;
    color: $gray-texts;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  &__profile-row {
    border-bottom: 1px solid $gray-texts !important;
    display: flex;
  }

  &__profile-row:last-child {
    border: none;
  }
}

tbody td {
  width: 20%;
}