<app-sidebar [route]="'/workers'"></app-sidebar>

<div class="main-content with-subtitle">
  <div class="row">
    <div class="col-md-12">
      <app-header
        [title]="'Funcionários'"
        [subtitle]="'Budget disponível: ' + (availableBudget | currency: 'R$')"
      ></app-header>
      <div class="container">
        <section class="worker-info">
          <img
            class="worker-info__image"
            src="../../../assets/svg/person-square.svg"
            alt="Imagem alunos"
          />
          <h4 class="worker-info__name">
            {{ workerName ? workerName : "-" }}
          </h4>
        </section>
        <section class="worker-info">
          <div class="row">
            <div class="col-md-6">
              <p class="worker-info__data">
                Cargo: {{ workerFunction ? workerFunction : "-" }}
              </p>
              <p class="worker-info__data">
                Actual Lead:
                {{ workerActualLead ? workerActualLead : workerActualLead }}
              </p>
              <p class="worker-info__data">
                Tempo de empresa:
                {{ workerCompanyTime ? workerCompanyTime : "-" }}
              </p>
              <span class="worker-info__data"
                >Salário atual:
                {{ workerSalary ? (workerSalary | currency: "R$") : "-" }}</span
              >
              <img
                class="worker-info__refresh"
                src="../../../assets/svg/arrow-repeat.svg"
                alt="Refresh icon"
              />
            </div>
            <div class="col-md-6 skills-data">
              <p class="worker-info__data">Hot Skills</p>
              <ul>
                <li *ngFor="let hotskilss of workerHotSkills">
                  {{ hotskilss }}
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="input-footer">
          <span class="input-footer__data">Aumento a ser disponibilizado</span>
          <input
            class="input-footer__money-value"
            type="number"
            min="1"
            step="any"
            placeholder="R$"
            [(ngModel)]="increaseValue"
            required
          />
          <button
            class="input-footer__button btn btn-primary"
            type="submit"
            (click)="alterBudget()"
          >
            Enviar valor
          </button>
        </section>
      </div>
    </div>
  </div>
</div>
