<div class="row content">
  <div class="col-md-6">
    <section class="centralize-content">
      <section class="head-login">
        <img class="head-login__logo" src="../../../assets/svg/EY_logo_2019.svg" alt="Logo Ernst Young" />
        <span class="head-login__title">TrackScore</span>
      </section>
      <!-- <form action=""> -->
      <div class="login form-group">
        <input class="login__input-label form-control" type="email" placeholder="E-mail" required />
        <input class="login__input-label form-control" type="password" placeholder="Senha" required />
        <button class="login__login-button btn btn-primary" type="submit" (click)="''">
          Login
        </button>
        <button class="login__login-button btn btn-primary" type="submit" (click)="''">
          Cadastrar-se
        </button>
      </div>
      <!-- </form> -->
    </section>
  </div>

  <div class="col-md-6">
    <app-side-image></app-side-image>
  </div>
</div>