@import "../../shared/scss/main-content.scss";

.workers {
  &__profile-image {
    width: 76px;
    border-radius: 38px;
  }

  & td {
    padding: 28px 0;
  }

  &__profile-name {
    vertical-align: middle;
    font-weight: bold;
    color: $gray-texts;
  }

  &__profile-row {
    border-bottom: 1px solid $gray-texts;
    display: flex;
    cursor: pointer;
  }

  &__profile-row:last-child {
    border: none;
  }
}

//Scroll
tbody,
tr,
th,
td {
  display: block;
}

tr:after {
  content: " ";
  display: block;
  clear: both;
}

tbody {
  height: 427px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td {
  width: 25%;
  display: flex;
  align-items: center;
}
