<app-sidebar [route]="'/workers'"></app-sidebar>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Funcionários'"></app-header>
      <div class="container">
        <div class="scroll-table" *ngIf="!loading">
          <table class="workers table">
            <tbody>
              <div *ngFor="let employees of employeesList">
                <a [routerLink]="'/worker'" (click)="values(employees, employeesData.available_budget)">
                  <tr class="workers__profile-row">
                    <td>
                      <img
                        class="workers__profile-image"
                        src="../../../assets/svg/person-square.svg"
                        alt="Naruto"
                      />
                    </td>
                    <td class="workers__profile-name">{{ employees.nome }}</td>
                    <td class="workers__profile-name">{{ employees.cargo }}</td>
                    <td class="workers__profile-name">
                      {{ employees.actual_lead }}
                    </td>
                    <td class="workers__profile-name">
                      {{ employees.salary | currency: "R$" }}
                    </td>
                  </tr>
                </a>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
