<app-sidebar [route]="'/workers'"></app-sidebar>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Funcionários'"></app-header>
      <div class="container">
        <div class="scroll-table">
          <table class="workers table">
            <tbody>
              <a [routerLink]="'/worker'" (click)="teste('naruto')">
                <tr class="workers__profile-row">
                  <td>
                    <img class="workers__profile-image" src="../../../assets/img/naruto.jpg" alt="Naruto" />
                  </td>
                  <td class="workers__profile-name">Naruto Uzumaki</td>
                  <td class="workers__profile-name">Analista TI Senior</td>
                  <td class="workers__profile-name">85</td>
                </tr>
              </a>
              <a [routerLink]="'/worker'" (click)="teste('kakashi')">
                <tr class="workers__profile-row">
                  <td>
                    <img class="workers__profile-image" src="../../../assets/img/kakashi.jpg" alt="Kakashi" />
                  </td>
                  <td class="workers__profile-name">Kakashi Hatake</td>
                  <td class="workers__profile-name">Analista TI Senior</td>
                  <td class="workers__profile-name">95</td>
                </tr>
              </a>
              <a [routerLink]="'/worker'" (click)="teste('gaara')">
                <tr class="workers__profile-row">
                  <td>
                    <img class="workers__profile-image" src="../../../assets/img/gaara.jpg" alt="Gaara" />
                  </td>
                  <td class="workers__profile-name">Gaara</td>
                  <td class="workers__profile-name">Analista TI Pleno</td>
                  <td class="workers__profile-name">90</td>
                </tr>
              </a>
              <a [routerLink]="'/worker'" (click)="teste('rocklee')">
                <tr class="workers__profile-row">
                  <td>
                    <img class="workers__profile-image" src="../../../assets/img/rocklee.jpg" alt="Rock Lee" />
                  </td>
                  <td class="workers__profile-name">Rock Lee</td>
                  <td class="workers__profile-name">Analista TI Pleno</td>
                  <td class="workers__profile-name">94</td>
                </tr>
              </a>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>