@import "../../shared/scss/main-content.scss";

.dash-content {
  margin: 30px;
  padding: 16px;
  border: 1px solid $gray-background;
  border-radius: 15px;
  background-color: $gray-background;
  &__description {
    display: block;
    font-weight: bold;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 10px;
  }

  &__value {
    font-size: 17px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    color: $orange-track-score;
    padding-bottom: 20px;
  }

  & img {
    width: 60px;
    border-radius: 30px;
    margin-right: 35px;
  }

  &__button {
    width: 260px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    color: $orange-track-score;
    font-weight: bold;
    border: 3px solid $orange-track-score;
    border-radius: 10px;
    margin-top: 22px;
  }

  &__button:hover {
    background-color: $orange-track-score;
    color: #ffffff;
  }
}

.align-center {
  text-align: center;
}
