<app-sidebar [route]="'/dashboard'"></app-sidebar>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <app-header [title]="'Dashboard'"></app-header>
      <div class="container">
        <div class="row" *ngIf="!loading">
          <div class="col-md-6">
            <section class="dash-content">
              <p class="dash-content__description">Disponível para sua área</p>
              <p class="dash-content__value">
                {{
                  employeesData?.available_budget
                    ? (employeesData?.available_budget | currency: "R$")
                    : "-"
                }}
              </p>
              <p class="dash-content__description">
                Quantidade de funcionários
              </p>
              <p class="dash-content__value">
                {{ employeesList ? employeesList?.length : "-" }}
              </p>
            </section>
          </div>
          <div class="col-md-6">
            <section class="dash-content align-center">
              <p class="dash-content__description">
                Funcionários disponíveis para avaliação
              </p>
              <img
                *ngFor="let employees of employeesList"
                src="../../../assets/svg/person-square.svg"
                alt="Ícone funcionário"
              />
              <p
                class="dash-content__description__no-item"
                *ngIf="employeesList.length === 0"
              >
                Nenhum funcionário disponível para avaliação
              </p>
              <button
                class="dash-content__button btn btn-primary"
                type="submit"
                (click)="goToWorkersPage()"
              >
                Ver mais
              </button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
